html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    position: relative;
    width: 80vw;
    height: 80vw;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    position: relative;
    height: 22%;
    width: 22%;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.card-inner {
    height: 100%;
    width: 100%;
    pointer-events: none;
    transform-style: preserve-3d;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 8px;
}

.deck .card-inner::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #2e3d49;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.deck .card.open {
    transform: rotateY(-180deg);
    cursor: default;
    pointer-events: none;
}

.deck .card.match .card-inner {
    animation: blob 0.5s ease 0.3s;
}

.deck .card.fail .card-inner {
    animation: shake 0.2s ease 0.3s;
}

.face {
    position: absolute;
    font-size: 5vw;
    height: 100%;
    width: 100%;
    background-color: #ff8436;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: background-color 0.7s ease;
}

.deck .card.match .face {
    background: #00cc60;
    transition: background-color 0.5s ease 0.3s;
}

.deck .card.fail .face {
    background: #cc2815;
    transition: background-color 0.2s ease 0.3s;
}

@keyframes blob {
    0%, 100% {transform: scale(1, 1) rotateY(0)}
    45% {transform: scale(1.3, 0.7) rotateY(0)}
    60% {transform: scale(0.8, 1.2) rotateY(0)}
    75% {transform: scale(1.1, 0.9) rotateY(0)}
    84% {transform: scale(0.95, 1.05) rotateY(0)}
    94% {transform: scale(1.02, 0.98) rotateY(0)}
}

@keyframes shake {
    0%, 30%, 50%, 70%, 100% { transform: translate(0, 0) rotate(0);}
    20% { transform: translate(-1px, 1px) rotate(-1deg);}
    40% { transform: translate(1px, -1px) rotate(1deg);}
    60% { transform: translate(-1px, -1px) rotate(-1deg);}
    80% { transform: translate(1px, 1px) rotate(1deg);}
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
